{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
{{title}}
{% endblock %}

{% block css_block %}
<style>
    .login {
        width: 500px;
        padding: 50px;
        border: 1px solid rgb(211, 202, 202);


    }

    .log_in {
        margin-top: 10px;
        width: 500px;
        padding: 50px;
        border: 1px solid rgb(211, 202, 202);
    }
</style>

{% endblock %}
{% block body_block %}
{% include "navbar.html" %}
<center>
    <div class="login">

        <form method="POST">
            {{form|crispy}}
            {% csrf_token %}
            <button style="width: 100%;" type="submit" class=" btn btn-primary">Login</button>
        </form>

    </div>

    <div class="log_in">
        <p>Don't Have an account? <a href="{% url 'App_Login:sign_up' %}">Sign Up</a></p>
    </div>
</center>



{% endblock %}