{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
{{title}}
{% endblock %}

{% block css_block %}
<style>
    .login {
        width: 800px;
        padding: 50px;
        border: 1px solid rgb(211, 202, 202);
        background-color: azure;
        border-radius: 10px;
        margin-bottom: 50px;

    }

    .log_in {
        margin-top: 10px;
        width: 500px;
        padding: 50px;
        border: 1px solid rgb(211, 202, 202);
    }

    * {
        box-sizing: border-box;
    }
</style>

{% endblock %}
{% block body_block %}
{% include "navbar.html" %}
<center>
    <div class="login">

        <form method="POST" enctype="multipart/form-data">
            {{form|crispy}}
            {% csrf_token %}
            <button style="width: 100%;" type="submit" class=" btn btn-primary">Update</button>
        </form>

    </div>

</center>



{% endblock %}