{% extends "navbar.html" %}
{% load crispy_forms_tags %}
{% block title_block %}
{{title}}
{% endblock %}

{% block css_block %}
<style>
    .crop {
        width: 200px;
        height: 200px;
        overflow: hidden;
    }

    .crop img {
        width: 400px;
        height: 350px;
        margin: -75px 0 0 -100px
    }
</style>

{% endblock %}

{% block body_block %}
<div class="row">


    <div class="col-lg-6 col-md-12">
        {% if user.user_profile.profile_pic %}
        <img src="/media/{{user.user_profile.profile_pic}}" class="rounded-circle" width="500px" height="500px"
            alt="image">
        {% else %}
        <img src="/media/default.png" alt="image" class="rounded-circle" width="540px" height="240px">
        {% endif %}
    </div>
    <div class="col-lg-6 col-md-12">
        <h3>{{user.username}} &nbsp; <a href="{% url 'App_Login:edit' %}"> <button class="btn btn-light">Edit
                    Profile</button> </a></h3>
        <br>
        <h4>{{user.post.count}} posts &nbsp; &nbsp; {{user.following.count}} followers &nbsp; &nbsp;
            {{user.follower.count}} following &nbsp; &nbsp; </h4>
        <br>
        <h3>{{user.user_profile.full_name}}</h3>
        <h6>{{user.user_profile.description|linebreaks}}</h6>
    </div>
</div>
<hr>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Create a New Post
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Post a Photo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {{form|crispy}}
                    {% csrf_token %}
                    <button style="width: 100%;" type="submit" class=" btn btn-primary">Post</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

{% for post in user.post.all %}
<div class="crop">
    <img src="/media/{{post.image}}">
</div>
{% endfor %}
{% endblock %}