{% extends 'navbar.html' %}

{% block title_block %}
{{title}}
{% endblock %}

{% block body_block %}

{% if search %}
{% for user in result %}

<div class="row">
    <div class="col-sm-2">

        {% if user.user_profile.profile_pic %}
        <img src="/media/{{user.user_profile.profile_pic}}" class="rounded-circle" width="100px" height="100px"
            alt="image">
        {% else %}
        <img src="/media/default.png" alt="image" class="rounded-circle" width="100px" height="100px">
        {% endif %}

    </div>
    <div class="col-sm-10">
        <a href="{% url 'App_Login:user' username=user.username %}"> {{user.username}}</a>

        <br>
        {{user.user_profile.full_name}}
    </div>
</div>
<br>
<br>

{% endfor %}
{% else %}

<div class="row">

    <div class="col-sm-8">


        {% for post in posts %}

        <div style="border: 1px solid #888888;">
            <div style="padding: 10px;">

                {% if post.author.user_profile.profile_pic %}
                <img src="/media/{{post.author.user_profile.profile_pic}}" class="rounded-circle" width="50px"
                    height="50px" alt="image">
                {% else %}
                <img src="/media/default.png" alt="image" class="rounded-circle" width="50px" height="50px">
                {% endif %}
                <a href="{% url 'App_Login:user' username=post.author %}"> {{post.author}} </a>
            </div>
            <img src="/media/{{post.image}}" width="100%">
            <div style="padding: 20px;">
                <b>{{post.caption}}</b> <br>
                <strong> <b> {{post.liked_post.count}} Likes</b></strong><br>
                {% if post.pk in liked_post_list %}
                <a href="{% url 'App_Post:unliked' pk=post.pk %}">
                    <i class="fa fa-heart" style="font-size: 30px;color:red"></i>
                </a>
                {% else %}

                <a href="{% url 'App_Post:liked' pk=post.pk %}">

                    <i class="fa fa-heart" style="font-size: 30px;color:rgb(202, 202, 202);"></i>
                </a>

                {% endif %}






            </div>

        </div>
        <br>
        <br>
        {% endfor %}


    </div>
    <div class=" col-sm-4">
        <div class="row">
            <div class="col-sm-4">
                {% if user.user_profile.profile_pic %}
                <img src="/media/{{user.user_profile.profile_pic}}" class="rounded-circle" width="100px" height="100px"
                    alt="image">
                {% else %}
                <img src="/media/default.png" alt="image" class="rounded-circle" width="100px" height="100px">
                {% endif %}
            </div>
            <div class="col-sm-8">
                {{user.username}}
                <br>
                {{user.user_profile.full_name}}
            </div>
        </div>

    </div>
</div>


{% endif %}

{% endblock %}